{
  "env": {
    "browser": true,
  },
  "extends": [
    "airbnb",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
          "extensions": [".js", ".jsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": 0,
  },
}